/*
Text
Header
	Navigation
Slider
Fixed Background
	1
	2
About Us
Subscribe
	Social
Footer
*/


/* Text
=============================================================*/

h1 {
	text-align: center;
	font-family: Roboto, helvetica, sans-serif;
	font-weight: black;
	text-transform: uppercase;
}

h2 {
	text-align: center;
	font-family: Roboto, helvetica, sans-serif;
	text-transform: uppercase;
}


/* Header
=============================================================*/


/* Navigation 
=============================================================*/


/* Slider 
=============================================================*/



/* Fixed Background 
=============================================================*/



/* About Us 
=============================================================*/


/* Subscribe 
=============================================================*/


	/* Social
	=============================================================*/


/*Footer
=============================================================*/

