/*
Text
Buttons
Header
	Navigation
Slider
Events
Fixed Background
	1
	2
About Us
Subscribe
	Social
Footer
Media Queries
*/


/* Text
=============================================================*/

html {
	height: 100%;
	min-height: 100%;
}

body {
font-family: Roboto, helvetica, sans-serif;
text-align: center;
min-height: 100%;
}


h1 {
	text-align: center;
	font-weight: 900;
	font-size: 36px;
	text-transform: uppercase;
	color:#373935;
}

h2 {
	text-align: center;
	color: #FFAA4C;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.body {
	text-align: left;
}

.body ul {
	list-style-type: none;
}
.body ul:first-child{
	margin-top:30px;
}

.body p{
	margin-top: 30px;
}

.body a{
	color: gray;
}

/* Buttons and images 
=============================================================*/

.button {
	background: #FF3A1D;
	width: 220px;
	color: white;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	padding: 1em;

}

.button:hover {
	background: #C5301A;
}


/* Header
=============================================================*/
header {
	background: #373935;
	color: white;
	text-align: right;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 0;

}
.logo {
	text-align: center;

}
.logo img{
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;


}

.fa-bars {
	color: white;
	text-align: center;
}

/* Navigation 
=============================================================*/
header nav{
	padding: 5px 0 25px 0;
	margin-top: 30px;
}
header nav li {
	display: inline-block;
	padding: 0 17px 0 8px;
}

header nav a {
	color: white;
}

nav ul {
	margin: auto 0;
}


a {
	color: white;
-webkit-transition: color .5s; /* For Safari 3.1 to 6.0 */
-moz-tranisition: color .5s;
-o-transition: color .5s;
    transition: color .5s;
  }
a:hover {
	color: #C5301A;
}



/* Slider 
=============================================================*/
/*.slider {
	min-height: 600px;
	background: url('../img/champagne.jpg');
	background-size: cover;
}*/

.slider {
	position: relative;
}

.slider img {
	width:100%;
}
.owl-carousel {
	background: #373935;
}
.slider-text {
	width:90%;
	top:30%;
	left:5%;
	position: absolute;
	color: white;
}

.slider-text h1 {
	font-family: Cookie, cursive;
	color: orange;
	text-transform: none;
	font-size: 500%;
	line-height: 1;
	text-shadow: 2px 2px 2px #000000;
}
.slider-text p {
	text-shadow: 2px 2px 2px #000000;
	font-size: 150%;
	font-family: Roboto, helvetica, sans-serif;
}

.masthead {
	width: 100%;
	margin: 0 0 25px 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 300px;
	height:20vh;

}

.masthead-contact {
	background:url("../img/bar.jpg") bottom center fixed;

}
.masthead-homerunner {
	background:url("../img/needaride.jpg") bottom center fixed;
}
.masthead-events {
	background:url("../img/patio.jpg") bottom center fixed;
}
.masthead-order {
	background:url("../img/salad.jpg") bottom center fixed;
}
.masthead-menu {
	background:url("../img/cocktails.jpg") bottom center fixed;
}
.masthead-reserve {
	background:url("../img/football.jpg") bottom center fixed;
}

/* Twitter feed 
=============================================================*/
.twitter-feed {
	background: #FF3A1D;
	color: white;
	text-align: center;
	margin: 0;
}

#twitker-marqee {
	
}
.no-margin {
	margin: 0;
}
/* Events
=============================================================*/
.events {
	padding: 100px 0;
	background: #ffffff;
}


.events ul {
	list-style-type: none;
}

.events-container {
	padding: 5px;
	margin-bottom: 15px;
}
.events-1 {
	height: 275px;
	background: url('../img/footballplayer.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.events-2 {

	height: 275px;
	background: url('../img/basketball.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;

}
.events-3{

		height: 275px;
		background: url('../img/champagne.jpg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: relative;
		overflow: hidden;

}

.description {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 30%;
	width: 100%;
	text-align: right;
	padding: 5px;
	background: rgba(255, 170, 76, .8);

}



/* Fixed Background 
=============================================================*/
.fixed-background {
	height:600px;
	height: 100vh;
}	
.fixed-background-1 {
	min-height: 600px;
	background: url('../img/interior.jpg') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: 100%;
	background-size: 100%;
	background-size: 100%;
	width: 100%;
	height: 50%;
	background-attachment: fixed;
	top: 0;
}

.fixed-background-2 {
	min-height: 600px;
	width:100%;
	background: url('../img/pizza.jpg') no-repeat bottom center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

}


/* About Us 
=============================================================*/
.about-us p, h2 {
	text-align: left;
}


.about-us {
	padding: 100px 0;
	background: #ffffff;
}




/* Subscribe 
=============================================================*/
.subscribe {
	text-align: center;
	padding: 100px 0;
	background: #ffffff;

}

.subscribe h2 {
	text-align: center;
}

.subscribe input {
	width: 80%;
	padding: 10px;
	display: inline-block;
}


	/* Social
	=============================================================*/
.fa {

	text-align: center;
	-webkit-transition: color .5s; /* For Safari 3.1 to 6.0 */
-moz-tranisition: color .5s;
-o-transition: color .5s;
    transition: color .5s;
  
}

.social .fa {
		color: #373935;
}

.fa:hover{
	color: #FF3A1D;

}

.social ul{
	text-align: center;
	margin: 0;

}

.social li{
	color: #FF3A1D;
	margin: 20px;
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	text-align: center;
}

/*Footer
=============================================================*/
footer {
	background: #D8D8D8;
	color: white;
	text-align: left;
	margin-top:25px;
}

.footer-list li{
	list-style-type: none;
	display: inline-block;
	float: left;
	padding-left: 5px;
}



.footer-list a:before {
	content:"// ";
}

footer a {
	color: white;
}

/*Footer
=============================================================*/
/* Sticky footer*/
* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -2em;
}
.footer, .push {
height: 2em;
}
/*Media Queries
=============================================================*/
@media (max-width: 735px) {
		nav li{
			font-size: 80%;

		}
		header nav {
			padding: 0;
			margin: 10px 0;
			line-height: 1;
		}

		.social li {
			margin: 0;
			padding: 0;

}

}
@media (max-width: 800px) {
	.fixed-background-1, .fixed-background-2 {
		background-attachment: scroll;
	}
}
/*
@media (min-width: 1025px) {
	.fixed-background-1, .fixed-background-2  {
		height: 100vh;
	}
}

@media (max-width: 738px) and (orientation : portrait) {
	.fixed-background-1, .fixed-background-2 {
		height:1024px;
	}

}
@media (max-width: 1024px) and (orientation : landscape) {
	.fixed-background-1, .fixed-background-2 {
		height:738px;
	}

}

*/


@media (max-width: 640px) {

header nav li, .call-out a {
		display: inline-block;
		width: 100%;
		border: 1px solid red;
		text-align: center;
		padding: 10px 0;
		margin: 2px;
		background: rgba(255,255,255, .1);
		font-size: 120%;

	}


.slider-text {
	top: 20%;
	font-size: 70%;
}

.events, .about-us, .subscribe {
	padding: 20px 0;
}
}